<div id="artist_search">
  <div id="searchResult">
    {{#each artists}}
      <div class="artist">
        <div class="artistImg">
          <img src="{{this.images.0.url}}" alt="artist img" />
        </div>
        <div class="artist_name">
          <h3>{{this.name}}</h3>
          <div>
            <button><a href="/albums/{{this.id}}">View Albums</a></button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>