<form action="/artist-search-results" method="get">
<label for="artist">ARTIST SEARCH</label> <br>
    <input type="text" name="theArtistName" id="" placeholder="">
    <button type="submit">Find Artists!</button>
    

</form>


{{!-- <form action="/artist-search-results" method="GET">
    <input type="text" name="theArtistName" id="" placeholder="">
    <button type="submit">Search for an Artist</button>
</form> --}}